#
#  Author: Hari Sekhon
#  Date: 2023-05-05 18:05:53 +0100 (Fri, 05 May 2023)
#
#  vim:ts=2:sts=2:sw=2:et:filetype=yaml
#
#  https://github.com/HariSekhon/DevOps-Golang-tools
#
#  License: see accompanying Hari Sekhon LICENSE file
#
#  If you're using my code you're welcome to connect with me on LinkedIn and optionally send me feedback to help steer this or other code I publish
#
#  https://www.linkedin.com/in/HariSekhon
#

# ============================================================================ #
#                             K i c s   C o n f i g
# ============================================================================ #

# https://github.com/Checkmarx/kics/blob/master/docs/configuration-file.md

---
#path: assets/iac_samples
verbose: true
log-file: true
#type:
#  - Dockerfile
#  - Kubernetes
#queries-path: "assets/queries"
exclude-paths:
  # ignore submodules - handle them in the source repos only
  - bash-tools/
  - sql/
  - templates/
#output-path: "results"
 09a50e7e1810c856eff735279a83c00116a7fcd5 bash-tools (ccmenu-11856-g09a50e7e)
 d4eedc0e2c68c9a43838c89a1d09abf10927a566 sql (remotes/origin/HEAD)
 0d8bd48723672bbfec6eb549c80e564b28725a7b templates (remotes/origin/HEAD)
